.topbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    padding: 0 20px;
    color: #fff;
    position: fixed;
  }
  
  .logo {
    font-size: 24px;
    color:  #96bf48 ;
    font-weight: bold;
  }
  
  