.customer-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* margin-top: 10px; */
  }
  
  .customer-form label {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    width: 100%;
    max-width: 400px;
  }
  
  .customer-form input {
    padding: 5px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-top: 5px;
  }
  
  .customer-form button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #3f51b5;
    color: #fff;
    border-radius: 5px;
    border: none;
    cursor: pointer;
  }
  
  .customer-form button:hover {
    background-color: #2c3e50;
  }
  